[Unit]
Description=Gnome shell screenshot emulator for Zoom
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-shell-screenshot-dbus-emulator --output=%i
Restart=on-failure

[Install]
WantedBy=graphical-session.target
